[project]
	description = Comicvine calibre metadata source for comic-books and Graphic Novels
[access "refs/*"]
	owner = group user/Russell Heilling (xchewtoyx)
[access "refs/for/refs/*"]
	read = group user/Russell Heilling (xchewtoyx)
	push = group user/Russell Heilling (xchewtoyx)
	label-Code-Review = -2..+2 group user/Russell Heilling (xchewtoyx)
	label-Verified = -1..+1 group user/Russell Heilling (xchewtoyx)
	rebase = group user/Russell Heilling (xchewtoyx)
	removeReviewer = group user/Russell Heilling (xchewtoyx)
	submit = group user/Russell Heilling (xchewtoyx)
[access "refs/heads/*"]
	read = group user/Russell Heilling (xchewtoyx)
	create = group user/Russell Heilling (xchewtoyx)
	push = +force group user/Russell Heilling (xchewtoyx)
	pushMerge = group user/Russell Heilling (xchewtoyx)
[access "refs/tags/*"]
	push = +force group user/Russell Heilling (xchewtoyx)
	pushTag = group user/Russell Heilling (xchewtoyx)
	pushSignedTag = group user/Russell Heilling (xchewtoyx)
